body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #000814;
  color: white;
  align-items: center;
  text-align: center;
  border: 0;
}

img {
  margin: 40px;
}

.contact-img {
  width: 200px;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

#content {
  margin-top: 80px;
}

h1 {
  font-size: 60px;
}

ul {
  display: flex;
  justify-content: center;
}

il:hover {
  cursor: pointer;
}

il {
  font-size: 25px;
  margin: 30px;
}

#tabs-container {
  border: solid;
}

.home-div,
.contact-div,
.menu-div {
  display: none;
}

.home-div.selected,
.contact-div.selected,
.menu-div.selected {
  display: block;
}
